{% set block_classes = [
  'block',
  bundle ? 'block--' ~ bundle|clean_class,
  id ? 'block--' ~ id|replace({"_": "-"})|clean_class,
]|merge(block_utility_classes ? block_utility_classes : []) %}

  <div{{ attributes|without('id').addClass(block_classes) }}>

  {{ title_prefix }}
  {% if label %}
    {% block label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endblock %}
  {% endif %}
  {{ title_suffix }}

{% block content %}
<div id="carousel--{{ content['#block_content'].id() }}" class="carousel slide mb-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    {% for item in content['#block_content'].field_carousel_items %}
      <button type="button"
              data-bs-target="#carousel--{{ content['#block_content'].id() }}"
              data-bs-slide-to="{{ loop.index0 }}" aria-label="{{ item.entity.field_title.value }}"
              class="{{ loop.first ? 'active' }}" {{ loop.first ? 'aria-current="true"' }}></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for item in content['#block_content'].field_carousel_items %}
      <div class="carousel-item {{ loop.first ? 'active' }}">
        {{ item.entity|view }}
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel--{{ content['#block_content'].id() }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel--{{ content['#block_content'].id() }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {{ content|without('field_carousel_items') }}
</div>
{% endblock %}

</div>
